In [13]:
import pandas as pd
from io import StringIO
import logging

In [14]:
class Covid:
    def __init__(self):
        logging.info("Downloading")
        self.df = pd.read_csv(
            "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
        )

In [18]:
class Data:
    def trade_df(self):
        # This method should handle the import of source data
        data = StringIO()

        s = """
        Account|Stock_Code|BuySell|Date|Quantity|Unit_Price
        1001|001|B|20190105|8|2
        1001|002|B|20190105|4|3
        1001|002|S|20190106|3|1
        1001|003|B|20190106|6|5
        1001|003|S|20190106|4|6
        1001|001|S|20190107|6|3
        1002|001|B|20190105|6|2
        1002|002|B|20190105|8|3
        1002|002|S|20190106|3|1
        1002|003|B|20190106|5|5
        1002|003|S|20190106|4|6
        1002|001|S|20190107|6|3
        """

        data.write(s.replace(" ", ""))
        data.seek(0)
        df = pd.read_csv(
            data,
            sep="|",
            dtype={"Account": str, "Date": str, "Stock_Code": str, "Date": str},
        )
        df.Date = pd.to_datetime(df.Date, format="%Y%m%d")
        return df

    def account_df(self):
        data = StringIO()

        s = """
        Account|Name
        1001|David
        1002|Tom
        """

        data.write(s.replace(" ", ""))
        data.seek(0)
        df = pd.read_csv(data, sep="|", dtype={"Account": str, "Name": str})
        return df

    def stock_prices(self):

        data = StringIO()

        s = """
        Stock_Code|Closing_Price|Date
        001|2|20190105
        001|3|20190106
        001|2|20190107
        002|2|20190105
        002|3|20190106
        002|5|20190107
        003|5|20190105
        003|6|20190106
        003|7|20190107
        """

        data.write(s.replace(" ", ""))
        data.seek(0)
        df = pd.read_csv(data, sep="|", dtype={"Stock_Code": str, "Date": str})
        df.Date = pd.to_datetime(df.Date, format="%Y%m%d")
        return df

In [19]:
class Book:
    def __init__(self):
        self._data = Data()

    @property
    def trade_book_df(self):
        if not hasattr(self, "_trade_book_df"):
            df = self._data.trade_df().join(
                self._data.account_df().set_index("Account"), on="Account"
            )
            df["Trade_Amount"] = df.Quantity * df.Unit_Price
            self._trade_book_df = df
        return self._trade_book_df

    def stock_prices(self, date=None):
        df = self._data.stock_prices()
        if date:
            df = df[df.Date == date]
        return df

    @property
    def holdings(self):
        return Holdings(self)

    @property
    def accounts(self):
        return Accounts(self.holdings)


Book().trade_book_df

,Account,Stock_Code,BuySell,Date,Quantity,Unit_Price,Name,Trade_Amount
0,1001,001,B,2019-01-05,8,2,David,16
1,1001,002,B,2019-01-05,4,3,David,12
2,1001,002,S,2019-01-06,3,1,David,3
3,1001,003,B,2019-01-06,6,5,David,30
4,1001,003,S,2019-01-06,4,6,David,24
5,1001,001,S,2019-01-07,6,3,David,18
6,1002,001,B,2019-01-05,6,2,Tom,12
7,1002,002,B,2019-01-05,8,3,Tom,24
8,1002,002,S,2019-01-06,3,1,Tom,3
9,1002,003,B,2019-01-06,5,5,Tom,25
10,1002,003,S,2019-01-06,4,6,Tom,24
11,1002,001,S,2019-01-07,6,3,Tom,18

In [22]:
class Holdings:
    def __init__(self, book):
        self._book = book

    def holdings_of(self, date):
        trades_df = self._book.trade_book_df
        date_hld_df = trades_df[trades_df.Date <= date]
        date_hld_df["qnt_change"] = (
            date_hld_df["BuySell"].map({"B": 1, "S": -1}) * date_hld_df.Quantity
        )
        hld_df = (
            date_hld_df.groupby(["Account", "Stock_Code"], as_index=False)
            .agg({"qnt_change": sum})
            .rename(columns={"qnt_change": "Holdings"})
        )
        hld_df = hld_df.join(
            self._book.stock_prices(date).set_index("Stock_Code"), on="Stock_Code"
        )
        hld_df["Market_Value"] = hld_df.Closing_Price * hld_df.Holdings
        return hld_df


from datetime import date

Book().holdings.holdings_of(date(2019, 1, 6))

/Users/nate/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  import sys
/Users/nate/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/nate/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:16: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and 'the values will not compare equal to the
'datetime.date'. To retain the current behavior, convert the
'datetime.date' to a datetime with 'pd.Timestamp'.
  app.launch_new_instance()

  Account Stock_Code  Holdings  Closing_Price       Date  Market_Value
0    1001        001         8              3 2019-01-06            24
1    1001        002         1              3 2019-01-06             3
2    1001        003         2              6 2019-01-06            12
3    1002        001         6              3 2019-01-06            18
4    1002        002         5              3 2019-01-06            15
5    1002        003         1              6 2019-01-06             6